<div class="cards-container">
    <div class="card">
        <div class="card-content">
            <h3 class="stat-number">100</h3>
            <p class="stat-label">пользователей</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h3 class="stat-number">22</h3>
            <p class="stat-label">вакансий</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h3 class="stat-number">30</h3>
            <p class="stat-label">резюме</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h3 class="stat-number">12</h3>
            <p class="stat-label">проектов</p>
        </div>
    </div>
</div>
