<div class="container">
    <h2>Управление словами</h2>
  
    <!-- Поле для добавления нового слова -->
    <div class="input-group">
      <input
        type="text"
        class="input-field"
        [(ngModel)]="newWord"
        placeholder="Введите слово"
      />
      <button class="primary-btn" (click)="addWord()">Добавить</button>
    </div>
  
    <!-- Поле для поиска -->
    <div class="input-group">
      <input
        type="text"
        class="input-field"
        [(ngModel)]="searchQuery"
        placeholder="Поиск по первым буквам"
        (input)="filterWords()"
      />
    </div>
    <button pButton type="button" label="Загрузить данные на сервер" (click)="uploadJSON()"></button>

    <button pButton type="button" label="Скачать файл" (click)="downloadFileFromBackend()"></button>

    <p-accordion [activeIndex]="0">
      <ng-container *ngFor="let item of filteredData">
        <p-accordionTab [header]="item.letter.toUpperCase()">
          <ul class="word-ul">
            <li *ngFor="let word of item.words; let j = index" class="word-item">
              <span class="word-text">{{ word }}</span>
              <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" [severity]="'danger' "
              (click)="deleteWord(item.letter, j)" />
            </li>
          </ul>
        </p-accordionTab>
      </ng-container>
  </p-accordion>
  </div>
  