<div class="container">
    <h2>Управление словами</h2>
  
    <!-- Загрузка JSON файла -->
    <div class="file-upload">
      <label for="file-input" class="custom-file-label">Загрузить JSON</label>
      <input
        type="file"
        id="file-input"
        class="hidden-input"
        (change)="onFileUpload($event)"
        accept=".json"
      />
    </div>
  
    <!-- Поле для добавления нового слова -->
    <div class="input-group">
      <input
        type="text"
        class="input-field"
        [(ngModel)]="newWord"
        placeholder="Введите слово"
      />
      <button class="primary-btn" (click)="addWord()">Добавить</button>
    </div>
  
    <!-- Поле для поиска -->
    <div class="input-group">
      <input
        type="text"
        class="input-field"
        [(ngModel)]="searchQuery"
        placeholder="Поиск по первым буквам"
        (input)="filterWords()"
      />
    </div>
  
    <!-- Списки слов по буквам -->
    <div class="word-list" *ngIf="filteredData">
      <button class="download-btn" (click)="downloadJSON()">Скачать JSON</button>
      <div *ngFor="let item of filteredData" class="letter-group">
        <h3 class="letter-title">{{ item.letter.toUpperCase() }}</h3>
        <ul class="word-ul">
          <li *ngFor="let word of item.words; let j = index" class="word-item">
            <span class="word-text">{{ word }}</span>
            <button
              class="delete-btn"
              (click)="deleteWord(item.letter, j)"
            >
              Удалить
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  