
<ng-container *ngIf="isAuthenticated">
    <div class="container">
        <p-menubar [model]="items" class="menubar" />
        <ng-container *ngIf="TypeSetting === 'admins'">
            <app-admins-list class="viewData"></app-admins-list>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'users'">
            <app-list-users class="viewData"></app-list-users>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'vacancies'">
            <app-list-cards class="viewData" [Service]="vacanciesService"></app-list-cards>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'resumes'">
            <app-list-cards class="viewData" [Service]="resumesService"></app-list-cards>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'specialties'">
            <app-tags [Service]="specialtiesService" [Title]="'Специальности'" [IsDropList]="false"
                class="viewData"></app-tags>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'skills'">
            <app-tags [Service]="skillsService" [Title]="'Навыки'" [IsDropList]="false" class="viewData"></app-tags>
        </ng-container>
        <ng-container *ngIf="TypeSetting === 'notifications'">
            <app-notifications class="viewData"></app-notifications>
        </ng-container>
    </div>
</ng-container>