<app-form></app-form>

<p-table [value]="adminsListService.users" [rows]="rowsPerPage" [paginator]="true" [totalRecords]="totalUsers"
    [pageLinks]="5" [rowsPerPageOptions]="[3, 10, 25, 50, 100]" [sortField]="sortField" [sortOrder]="sortOrder">
    <ng-template pTemplate="header">
        <tr>
            <th>

            </th>
            <th pSortableColumn="nickname" style="width:20%">
                Логин <p-sortIcon field="nickname" />
            </th>
            <th pSortableColumn="firstName" style="width:15%">
                Имя <p-sortIcon field="firstName" />
            </th>
            <th pSortableColumn="lastName" style="width:15%">
                Фамилия <p-sortIcon field="lastName" />
            </th>
            <th pSortableColumn="telegram" style="width:15%">
                Телеграм <p-sortIcon field="telegram" />
            </th>
            <th pSortableColumn="dateOfRegistration" style="width:20%">
                Дата регистрации <p-sortIcon field="dateOfRegistration" />
            </th>
            <th>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>
            <a (click)="onUserClick($event, user)"> Перейти</a>
            </td>
            <td>{{ user.nickname}}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.telegram }}</td>
            <td>{{ user.dateOfRegistration | date: 'dd/MM/yyyy' }}</td>
            <td>
                <p-button icon="pi pi-times" [text]="true" (click)="deleteUser(user)"
                    [style]="{'color': 'red'}"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginator">
        <p-paginator [rows]="rowsPerPage" [totalRecords]="totalUsers"
            [rowsPerPageOptions]="[3, 10, 25, 50, 100]"></p-paginator>
    </ng-template>
</p-table>